html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  height: 20px;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 15px;
}

.header__logo img {
  width: 50px;
}

.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  background-color: black;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .show-menu {
  top: 0;
}

.header__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list__item {
  margin-bottom: 30px;
  color: white;
}

.header__toggle {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-radius: 3px;
  background-color: #fcff19;
  margin-right: 15px;
  border: none;
  position: relative;
  cursor: pointer;
}

.header__toggle__burger {
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 1px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.header__toggle__burger::before, .header__toggle__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background: #000;
  border-radius: 1px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.header__toggle__burger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.header__toggle__burger::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.header__toggle__burger.open {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__toggle__burger.open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__toggle__burger.open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.banner {
  position: relative;
  min-height: 100vh;
}

.banner .prev {
  position: absolute;
  z-index: 50;
  top: 50%;
  height: 59px;
  width: 59px;
  background-image: url(/img/RIGHT_BUTTON_LINK.svg);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.banner .prev:focus {
  outline: none;
}

.banner .prev:hover {
  cursor: pointer;
  background-image: url(/img/LEFT_BUTTON_ACTIVE.svg);
  -webkit-transform: inherit;
          transform: inherit;
}

.banner .next {
  position: absolute;
  z-index: 50;
  top: 50%;
  height: 59px;
  width: 59px;
  right: 0;
  background-image: url(/img/RIGHT_BUTTON_LINK.svg);
}

.banner .next:focus {
  outline: none;
}

.banner .next:hover {
  cursor: pointer;
  background-image: url(/img/LEFT_BUTTON_ACTIVE.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.banner__slider__item {
  height: 100%;
  width: 100%;
}

.banner__slider__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__main-screen {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__main-screen__text {
  color: #fff;
  font-family: "Roboto";
  text-align: center;
}

.banner__main-screen__text__title {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 32px;
  margin-bottom: 13px;
}

.banner__main-screen__text__subtext {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 250;
  margin-bottom: 16px;
}

.banner__main-screen__text__subtext span {
  color: #fcff19;
}

.banner__main-screen__text__button button {
  width: 61px;
  height: 21px;
  border-radius: 10px;
  background-color: #000000;
  font-size: 6px;
  letter-spacing: 0px;
  line-height: 15px;
  color: #fcff19;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}

.banner__main-screen__icon {
  position: absolute;
  bottom: 0;
}

.banner__main-screen__icon img {
  width: 33px;
  height: 38.5px;
}

@media screen and (min-width: 992px) {
  .header {
    height: 30px;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__logo img {
    width: 100px;
  }
  .header__menu {
    position: static;
    top: 0;
    height: auto;
    display: block;
    width: auto;
    margin-left: auto;
    margin: 0;
    background-color: inherit;
    padding-top: 0;
  }
  .header__list {
    height: inherit;
    margin-right: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list__item {
    margin: 0 15px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-decoration: none;
  }
  .header__toggle {
    display: none;
  }
  .banner__main-screen__text {
    color: #fff;
    font-family: "Roboto";
    text-align: center;
  }
  .banner__main-screen__text__title {
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 27px;
  }
  .banner__main-screen__text__subtext {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 250;
    margin-bottom: 32px;
  }
  .banner__main-screen__text__subtext span {
    color: #fcff19;
  }
  .banner__main-screen__text__button button {
    width: 123px;
    height: 43px;
    font-size: 12px;
    line-height: 32px;
  }
  .banner__main-screen__icon img {
    width: 66px;
    height: 77px;
    border-radius: 25px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */