@import "./normalize.scss";
@import "./header.scss";
@import "./banner.scss";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.page-content {
  max-width: 1600px;
  margin: 0 auto;
}

.contact-us {
  position: relative;
  height: 634px;
  width: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 30px;
    max-width: 450px;

    &__title,
    &__subtitle {
      letter-spacing: 0px;
      line-height: 16px;
      color: #000000;
      font-family: "Roboto";
      padding-bottom: 10px;
    }

    &__title {
      font-size: 14px;
      font-weight: 700;
    }

    &__subtitle {
      font-size: 8px;
      font-weight: 400;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 10px 15px;
      font-size: 10px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      box-shadow: 0 0 3px #dcdcdc;
      box-sizing: border-box;
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto";
    }

    textarea:focus, input:focus {
      outline: none;
    }

    &__fullname {
      display: flex;
      flex-direction: column;
    }

    &__message {
      height: 100px;
      resize: none;
    }

    &__submit {
      background-color: #b7b7b7;
      font-weight: 700;
      font-family: "Roboto";
      color: #fff;
    }
    &__p {
      padding-left: 10px;
      font-weight: 700;
      font-family: "Roboto";
      color: #6f6f6f;
      text-align: left;
      margin-bottom: 10px;
    }
    
    &__checkbox {
      display: block;
      margin-bottom: 10px;
      text-align: left;
      padding-left: 10px;

      input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
      }
      label {
        position: relative;
        cursor: pointer;
        font-weight: 400;
        font-family: "Roboto";
        color: #6f6f6f;
      }
    }

    &__checkbox label:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 3px solid #707070;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 8px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      border-radius: 50px;
    }

    &__checkbox input:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 8px;
      width: 6px;
      height: 12px;
      border: solid #6f6464;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      
    }
  }
}

//DESKTOP//

@media screen and (min-width: 992px) {
  .contact-us {
    .form {
      &__title {
        font-size: 28px;
        padding-bottom: 25px;
      }

      &__subtitle {
        font-size: 15px;
        padding-bottom: 25px;
      }

      &__fullname {
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-between;

        input {
          width: 214px;
        }
      }
    }
  }
}



.product-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.product-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	width: 32%;
	padding: 50px 10px 30px 10px;
	margin-bottom: 15px;
	border: 1px solid #ccd0d3;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;

  &:hover {
    border-color: #000;
  }

  &__rating {
    position: absolute;
    top: 15px;
    right: 10px;

    &-wrap {
      float: left;
    }
    &--off {
      position: absolute;
      top: 0;
      left: 0;
      color: #ccd0d3;
    }

    &--on {
      position: relative;
      overflow: hidden;
      color: #ffcb01;
    }

    &-count {
      position: relative;
      top: -1px;
      padding-left: 5px;
      font-size: 10px;

      &:before {
        content: '(';
      }

      &:after {
        content: ')';
      }
    }
  }
  

  &__image {
    margin-bottom: 20px;

    img {
      display: block;
      max-width: 80%;
      margin: auto;
    }

  }

  &__name {
    margin-bottom: 10px;
    color: #000;
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  
  &__promotion {
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
  }

  &__price {
    margin-bottom: 25px;
    font-weight: 600;
  }

  &__add-btn {
    padding: 15px;
    width: 95%;
    background-color: #fff;
    color: #214bff;
    border: 2px solid #214bff;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      color: #000;
      border-color: transparent;
    }

  }

  &__badge {
    position: absolute;
    top: 10px;
    left: -3px;
    padding: 3px 5px;
    background-color: #ff0000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
  }

}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
 // border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}